$colorBlack: #000000;
$colorBlackOpacity: rgba(255, 255, 255, .16);
$colorWhite: #ffffff;
$colorAliceBlue: #F6F8F9;
$colorFontRoyalBlue: #4073C8;
$colorFontSteelBlue: #3C70C5;
$colorGrayChateau: #A4ADB5;
$colorDoveGray: #707070;
$fontTitle: Arial-BoldMT Arial;
$col1: 1fr;
$col2: 2fr;
$col3: 3fr;
$col4: 4fr;
$row1: 1fr;
$row2: 2fr;
$row3: 3fr;
$row4: 4fr;
$row5: 5fr;
$row6: 6fr;
$row7: 7fr;
$row8: 8fr;
$row10: 10fr;
$fullHeight: 100vh;
$fullWidth: 100vw;