body {
    background-color: $colorAliceBlue;
    font-family: $fontTitle;
}

%container {
    display: grid;
    background-color: $colorAliceBlue;
    height: $fullHeight;
    width: $fullWidth;
}

#container-tasks {
    @extend %container;
    grid-template-columns: $col1 $col4 $col1;
    grid-template-rows: $row1 $row10 $row1;
    grid-template-areas: "sidebar header profile" "sidebar content aside" "sidebar footer aside";
}