.material-icons.color-red {
    color: #FF0000;
}

.material-icons.color-black {
    color: #000000;
}

.material-icons.color-green {
    color: #228B22;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}