body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
}

.menu {
    background-color: #F8F8FF;
    height: 5vh;
    width: 100vw;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 15px;
}

.menu ul li {
    border: none;
    padding: 0;
}

.menu ul li:hover {
    border: groove 1px;
    padding: 0px;
    background-color: #545455;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    text-align: center;
}

article p {
    margin-bottom: 10px;
}

.container-task {
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 10vh auto auto auto;
    padding: 20px;
    width: 30vw;
}

.container-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1vh auto 5vh auto;
    width: 80vw;
    height: 45vw;
    /* background-color: yellow; */
}

.box-task {
    border-radius: 10px;
    background-color: white;
    height: 180px;
    margin: 5px;
    width: 200px;
}

.box-task ul {
    display: flex;
    list-style: none;
    margin-top: 5px;
    justify-content: flex-end;
}

.box-task h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
}

.box-task h3 a {
    color: black;
    text-decoration: none;
}

.content {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-top: 20px;
}

.content-item {
    margin-right: 5px;
}

.content p {
    padding-top: 5px;
    padding-left: 5px;
}

.content-concluded {
    display: flex;
    align-items: center;
}

.pagination {
    margin: auto auto 5vh auto;
    width: 80vw;
}

.pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.pagination-item {
    background-color: white;
    border: 1px #000000 solid;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

.pagination-item:hover {
    background-color: #545455;
    color: white;
}

.pagination-item-disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    background-color: white;
    border: gray 1px solid;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
}

.pagination-item-selected {
    border: gray 1px solid;
    color: white;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

table thead td {
    font-weight: bold;
    text-align: center;
}